---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="m-auto max-w-5xl w-full">
    <p>Start Recording</p>
    <button>Start</button>

    <p>Stop Recording</p>
    <button>Stop</button>
  </main>
</Layout>
