<footer
  class="bg-white rounded-lg shadow m-auto my-4 dark:bg-gray-800 max-w-[800px]"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/sebadio"
        class="hover:underline">sebadio (Sebastian Diaz)</a
      >. All Rights Reserved.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a href="/about" class="hover:underline text-gray-100 me-4 md:me-6"
          >About</a
        >
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/sebastian-dd/"
          class="hover:underline text-gray-100">Hire me!</a
        >
      </li>
    </ul>
  </div>
</footer>
