---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A simple online screen recorder, made to record your screen, application or browser's tab. Easy to share video with friends in social media."
    />
    <meta property="og:image" content="/screen-recorder/preview.webp" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/screen-recorder/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
</style>
